<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <div id="app"></div>
    <%for(var i=0;i<scriptList.length;i++){%>
        <script src="<%=scriptList[i]%>"></script>
    <%}%>
</body>
</html>
